html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  background: #01050a;
  background: radial-gradient(ellipse at center, #121220 0%, #01050a 50%);
  color: #fafafa;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

input[type="range"] {
  height: 0;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

/* .blue {
  color: #27eed4;
}
.red {
  color: #f1993a;
}
.green {
  color: #87c33d;
} */

.noUi-target {
  background: none;
  border-radius: 0px;
  box-shadow: none;
  height: 8px;
  border: none;
  overflow: hidden;
  /* box-shadow: 0 0 5px #27eed4aa; */
}

.noUi-connect {
  background: rgba(250, 250, 250, 0.5);
}

.blue .noUi-connect {
  background: #27eed477;
}
html:not([dir="rtl"]) .blue .noUi-horizontal .noUi-handle {
  background: #27eed4aa;
}

.red .noUi-connect {
  background: #f1993a77;
}
html:not([dir="rtl"]) .red .noUi-horizontal .noUi-handle {
  background: #f1993aaa;
}

.green .noUi-connect {
  background: #87c33d77;
}
html:not([dir="rtl"]) .green .noUi-horizontal .noUi-handle {
  background: #87c33daa;
}

.noUi-horizontal .noUi-handle {
  background: none;
}

.noUi-connects {
  border-radius: 0;
  background: rgba(250, 250, 250, 0.1);
}

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
  bottom: 0px;
  right: 0px;
  left: auto;
  top: auto;
  height: 100%;
  width: 15px;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background: rgba(250, 250, 250, 0.75);

  /* width: 0;
  height: 0;
  border-bottom: 15px solid rgba(250, 250, 250, 0.75);*/
  /* border-bottom: 15px solid rgba(135, 195, 61, 0.75);
  border-left: 25px solid transparent; */
}
.noUi-horizontal .noUi-origin {
  height: 100%;
}

.noUi-handle:before,
.noUi-handle:after {
  content: none;
}

.noUi-touch-area {
  height: 25px;
  width: 25px;
  right: 0px;
  position: absolute;
}
